/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 6, 2025, 2:33:56 AM
    Author     : ENG
*/



.top-form {
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px 4px .2px .4px;
    
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand
}

.close:hover{
    -fx-background-color: #dd2f4f;
}

.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover{
    -fx-background-color: #ddd;
    
}

.semi-top-form {
  -fx-background-color:#efefef;  
   -fx-border-color:#000;
   -fx-border-width:.2px .4px .8px .4px;
   
}

.nav-form {
    -fx-background-color:linear-gradient(to top right ,#0e535c, #135860);
    
}
.nav-btn {
    -fx-background-color:transparent;
    -fx-curson:hand;
    -fx-font-family:"Arial";
    -fx-txet-fill:#fff;
    -fx-font-size:14px;
    -fx-alignment:CENTER-LEFT;
}

.logout-bun{
    -fx-background-color:#b58dB8;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
        
}

.logout-bun:hover{
    -fx-background-color:#d6a135;
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}




.shadow{
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0.4),5,0,0,0);
    
}

.card1{
    
    -fx-background-color:linear-gradient(to right,#404bc9,#276a99);
    -fx-background-radius: 5px;
    
}
.card2{
    -fx-background-color:linear-gradient(to right,#542c63,#8825a1);
    -fx-background-radius: 5px;
    
    
}
.card3{
-fx-background-color:linear-gradient(to right,#752131,#ae243f);
    -fx-background-radius: 5px;
}

.textfield{
   -fx-background-color:transparent;
   -fx-border-color:linear-gradient(to top right,#64522c, #a8962b);
    -fx-border-width:0px 0px .8px 0px;
    -fx-font-family:"Tahoma";
    -fx-font-size:13px;
    
}
.textfield:focused{
-fx-border-width: 0px 0px 1.8px 0px;

}


.combobox{
 -fx-background-color:transparent;   
     -fx-border-color:linear-gradient(to top right,#64522c, #a8962b);
     -fx-border-width:1px;
-fx-font-family:"Tahoma";
  -fx-font-size:13px;
}
.combobox:focused{
    -fx-border-width:2px;
     
}
.add-btn{
     -fx-background-color:#275578;
      -fx-background-radius:8px;
      -fx-cursor:hand;
      -fx-text-fill:#fff;
      -fx-font-size:14px;
      -fx-fontfamily:"Arial";
}
.add-btn:hover{
     -fx-background-color:#2975ab;
     
    
}

.Update-btn{
     -fx-background-color:#277737;
      -fx-background-radius:8px;
      -fx-cursor:hand;
      -fx-text-fill:#fff;
      -fx-font-size:14px;
      -fx-fontfamily:"Arial";
}
.Update-btn:hover{
     -fx-background-color:#30AB67;
     
    
}

.Delete-btn{
     -fx-background-color:#822730;
      -fx-background-radius:8px;
      -fx-cursor:hand;
      -fx-text-fill:#fff;
      -fx-font-size:14px;
      -fx-fontfamily:"Arial";
}
.Delete-btn:hover{
     -fx-background-color:#b52a38;
     
    
}


.Clear-btn{
     -fx-background-color:#7c3186;
      -fx-background-radius:8px;
      -fx-cursor:hand;
      -fx-text-fill:#fff;
      -fx-font-size:14px;
      -fx-fontfamily:"Arial";
}
.Clear-btn:hover{
     -fx-background-color:#9328a4;
     
    
}
.Search{
     -fx-background-color:transparent;
     -fx-border-color:linear-gradient(to top right,#64522c, #a8962b);
     -fx-border-width:1px;
     -fx-border-rudius:5px;
     -fx-padding:0px 0px 0px 28px;
        -fx-fontfamily:"Tahom";
          -fx-font-size:14px;
     
     
     
}

.Search:focused{
    -fx-border-width:2px;
    
     
}
.table-view{
         -fx-background-color:transparent;
          -fx-border-color:linear-gradient(to top right,#64522c, #a8962b);
             -fx-border-width:2px;
                -fx-border-rudius:5px;
                -fx-padding:0px;
                
}
.table-view.table-column{
    -fx-alignment:CENTER;
  
}


.table-view .column-header-background{
      -fx-background-color:linear-gradient(to top right,#64522c, #a8962b);
       -fx-background-insets:0 0 0 0;
         -fx-border-rudius:5px 5px 0px 0px;
       
       
}


.table-view .column-header,filter{
       -fx-background-color:transparent;
       -fx-size:50px;
       
}
.table-view .column-header .label{
      -fx-text-fill:#fff;
      
}

/*(NOW, AFTER WE FINISH THE THINGS WE NEED FOR SUPER MARKET APPLICATION, LAST NAME ALL COMPONENTS :)*/





