/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 Dec 2025, 2:04:21 AM
    Author     : Mediatech
*/

.left-form{
    -fx-background-color:linear-gradient(to top right, #28635f,#288f84);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px;
    
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px 4px .4px .0px;
    
}
.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef,#eee);
    -fx-background-radius:8px;
    -fx-border-color:#288f84;
    -fx-border-width:0px 0px .8px 0px;
    -fx-font-family:"tahoma";
    -fx-font-size:13px;
    -fx-border-radius:8px; 
}
.textfield:focused{
    -fx-background-color:#efefef;
    -fx-border-width:0px 0px 1.8px 0px;
}
.login-btn{
    -fx-background-color:linear-gradient(to bottom, #288f84, #33403e);
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #64bca7,#4c9986);
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#c11919;
}
.hyperlink{
    -fx-border-color:transparent;
    -fx-font-famiy:"tahoma";
    -fx-font-size:14px;
    -fx-text-fill:#7c817f;
}
.hyperlink:hover{
    -fx-text-fill:#000;
}